<?xml version="1.0" encoding="utf-8"?>
<configuration>  <appSettings>
    <add key="PYTHONPATH" value="%HOME%\site\wwwroot"/>
    <add key="WSGI_HANDLER" value="wsgi.app"/>
    <add key="WSGI_LOG" value="%HOME%\LogFiles\application.log"/>
    <add key="SCM_DO_BUILD_DURING_DEPLOYMENT" value="true"/>
    <add key="ENABLE_ORYX_BUILD" value="true"/>
    <add key="PYTHON_VERSION" value="3.10"/>
    <add key="WEBSITES_PORT" value="8000"/>
    <add key="PYTHON_EXT_PATH" value="%HOME%\python\python310"/>
  </appSettings><system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="%home%\python\python310\python.exe|%home%\python\python310\wfastcgi.py" resourceType="Unspecified" requireAccess="Script"/>    </handlers><rewrite>      <rules>
        <rule name="Static Assets" stopProcessing="true">
          <match url="^/assets/(?:.*)" ignoreCase="true"/>
          <action type="Rewrite" url="assets/{R:1}" appendQueryString="true"/>
        </rule>
        <rule name="Static Files" stopProcessing="true">
          <match url="^/static/(?:.*)" ignoreCase="true"/>
          <action type="Rewrite" url="static/{R:1}" appendQueryString="true"/>
        </rule>        <rule name="Configure Python" stopProcessing="true">
          <match url="(.*)" ignoreCase="false"/>
          <conditions>
            <add input="{REQUEST_URI}" pattern="^/(static|assets)/.*" negate="true" />
          </conditions>
          <action type="Rewrite" url="{R:1}" appendQueryString="true"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
